@use "variables";

@keyframes show-popup {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes change-opacity {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

@keyframes show-popup-device {
  0%{ transform: translateY(100%); }
  100%{ transform: translateY(0px); }
}

@keyframes rotate {
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}

@keyframes preloader {
  0%{ background-color: rgba(variables.$white, 0); }
  100%{ background-color: rgba(variables.$white, 0.7); }
}

@keyframes show-message {
  0%{ transform: translateY(10px); opacity: 0; }
  50%{ transform: translateY(-10px); opacity: 0.5; }
  100% { transform: translateY(0px); opacity: 1; }
}



@keyframes highlight {
  from {
    background-color: mix(variables.$blue, variables.$white, 10%);
  }
  to {
    background-color: white;
  }
}